.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
    width: 100%;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: -16px;
    padding: 0;
}

